{% extends "base.html" %}
{% block title %} Products {% endblock %}

{% block content %}
<body>
 
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 350px; padding-left: 200px; padding-right: 200px; padding-top: 10px; padding-bottom: 10px;
    margin-top: 10px;">
        ADD A PRODUCT
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>

                        <form action="/add_products" method="post">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="product_name">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" name="buying_price">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                              <input type="number" class="form-control" id="exampleInputPassword1" name="selling_price">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Add a Product</button>
                            </div>
                          </form>                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>

{% endblock %}

