{% extends "base.html" %}
{% block title %} Sales {% endblock %}

{% block content %}

<body>
 
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" 
    style="margin-left: 350px; padding-left: 200px; padding-right: 200px; padding-top: 10px; padding-bottom: 10px;
    margin-top: 10px;">
      MAKE A SALE
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Make A Sale</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/add_sales" method="post">
              <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="pid">
                  <option selected>Select a Product</option>
                  {% for product in products %}
                  <option value="{{product[0]}}">{{product[1]}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="quantity">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Make Sale</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div>
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th>Sales ID</th>
          <th>Product ID</th>
          <th>Quantity</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
        <tr>
          <td>{{sale[0]}}</td>
          <td>{{sale[1]}}</td>
          <td>{{sale[2]}}</td>
          <td>{{sale[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>

{% endblock %}
